main{
  padding: 10px 0 0 0;
  -webkit-box-shadow:inset -2px 0 15px 3px rgba(38,77,154,0.5);
  -moz-box-shadow:inset -2px 0 15px 3px rgba(38,77,154,0.5);
  box-shadow:inset -2px 0 15px 3px rgba(38,77,154,0.5);

  .main_content_block{
    display: flex;
    margin-bottom: 20px;

    @media all and (max-width:1270px){
      flex-direction: column;
    }

    .search_forms{

      .vehicle_finder_form, .search_by_vin_form{
        //background: #264D9A;
        color: #fff;
        padding: 20px 50px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        @media all and (max-width:1300px){
          padding: 20px 20px 20px 50px;
        }
        @media all and (max-width:1270px){
          padding: 20px 50px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        @media all and (max-width:370px){
          padding: 10px 25px;

        }

        h2{
          background: #fff;
          border-radius: 10px;
          padding: 10px 0;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
          text-transform: capitalize;

          @media all and (max-width:490px){
            font-size: 20px;
          }
        }
        p{
          margin-bottom: 15px;

          @media all and (max-width:1300px){
            text-align: center;
          }


          &:last-of-type{
            margin-bottom: 0;
          }

          select{
            width: 40%;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 10px;
            //border: 2px solid rgba(0,0,0,0);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            @media all and (max-width:410px){
              width: 100%;
              margin: 0;
            }



            &:focus{
              -webkit-box-shadow: 0 0 4px 2px #fff;;
              -moz-box-shadow: 0 0 4px 2px #fff;;
              box-shadow:0 0 4px 2px #fff;
              //border: 2px solid #264D9A;
            }
          }

          

          input{
            margin: 0 10px;
            padding: 5px 10px;
            border-radius: 5px;
            //border: 2px solid rgba(0,0,0,0);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            @media all and (max-width:600px){
              max-width: 80%;
              margin: 0;
            }



            &:focus{
              box-shadow:0 0 4px 2px #fff;
              //border: 2px solid #264D9A;
            }
          }
        }

        input[type="submit"]{
          background: none;
          display: block;
          margin: 0 auto;
          border: 2px solid #fff;
          //background: #264D9A;
          //color: #fff;
          padding: 10px 30px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
          transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;


          &:hover{
            cursor: pointer;
            //border: 2px solid #264D9A;
            background: #fff;
            //color: #264D9A;
            -webkit-box-shadow: 0 0 3px 1.5px rgba(255,255,255,0.2);
            -moz-box-shadow: 0 0 3px 1.5px rgba(255,255,255,0.2);
            box-shadow: 0 0 3px 1.5px rgba(255,255,255,0.2);
            transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
          }
        }
      }

      .vehicle_finder_form{
        margin-bottom: 40px;

        @media all and (max-width:1270px){
          margin-bottom: 20px;
        }

        .input_fields_block{
          display: flex;
          max-width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          @media all and (max-width:1270px){
            justify-content: center;
          }

          @media all and (max-width:580px){
            .inputs_from, .inputs_to{
              width: 160px;
            }

          }
          @media all and (max-width:490px){
            .inputs_from, .inputs_to{
              width: 128px;
            }

          }
          @media all and (max-width:425px){
            .inputs_from, .inputs_to{
              width: 100px;
            }
          }



          .input_names_block p{
            margin-bottom: 15px;
            line-height: 34px;

          }
        }
      }
      .search_by_vin_form{
        p{
          input[type="text"]{
            display: block;
            margin: 0 auto;
            width: 80%;
          }
        }

      }
    }

    .featured_cars{
      flex-grow: 1;
      padding: 20px 50px 0 20px;

      @media all and (max-width:1270px){
        padding: 20px 50px;
      }

      @media all and (max-width:340px){
        padding: 20px 40px;
      }
      
      h2{
        //background: #264D9A;
        border-radius: 10px;
        padding: 10px 0;
        //color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: capitalize;


      }

      .featured_car{
        display: flex;
        margin-bottom: 8px;

        @media all and (max-width:620px){
          flex-direction: column;
          margin-bottom: 20px;

        }


        &:last-of-type{
          margin-bottom: 0;
        }

        .featured_car_img{
          @media all and (max-width:620px){
            align-self: center;
          }

          a{
            display: block;
            max-height: 180px;

          }
        }

        .featured_car_info{
          //border: 2px solid #264D9A;
          border-left: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          position: relative;

          @media all and (max-width:620px){
            width: 240px;
            align-self: center;
            border-top-right-radius: 0;
            border: none;

            border-bottom-left-radius: 10px;
          }

          h3{
            //background: #264D9A;
            padding: 5px 0;
            border-top-right-radius: 7px;
            text-align: center;
            position: relative;
            margin-bottom: 20px;

            @media all and (max-width:670px){
              text-align: left;
              padding-left: 5px;
            }

            @media all and (max-width:620px){
              text-align: center;
              border-top-right-radius: 0;
              margin-bottom: 10px;
            }

            a{
              //color: #fff;
              font-size: 20px;
              font-weight: bold;
              text-decoration: none;
              text-transform: uppercase;

              @media all and (max-width:760px){
                font-size: 16px;
              }

            }
            
            span{
              //color: #fff;
              position: absolute;
              right: 10px;
              top:5px;

              @media all and (max-width:760px){
                font-size: 14px;
              }
              @media all and (max-width:620px){
                display: none;
              }
            }
          }

          .featured_car_detailed_info{
            display: flex;
            justify-content: space-around;

            @media all and (max-width:620px){
              border-bottom-left-radius: 10px;
            }

            &>div{

              div{
                margin-bottom: 10px;
                line-height: 24px;
                text-transform: capitalize;
                //color: #264D9A;
              }

              .mileage{
                padding-left: 35px;
                //background: url("../images/mileage.png") left center no-repeat;
                text-transform: lowercase;
              }

              .petrol{
                padding-left: 35px;
                //background: url("../images/fuel.png") left center no-repeat;
                @media all and (max-width:620px){
                  margin-bottom: 60px;
                }
              }

              .location{
                padding-left: 35px;
                //background: url("../images/location.png") left center no-repeat;
              }

              .gearbox{
                padding-left: 35px;
                //background: url("../images/gearbox.png") left center no-repeat;
              }
            }
          }

          .fixed_price{
            position: absolute;
            right:0;
            bottom: 0;
            //color: #264D9A;
            font-weight: bold;


            span{
              //background: #264D9A;
              //color: #fff;
              font-weight: bold;
              font-size: 20px;
              display: inline-block;
              padding: 10px 20px;
              border-bottom-right-radius: 6px;
              border-top-left-radius: 10px;
              @media all and (max-width:620px){
                border-bottom-right-radius: 10px;
              }
            }
          }
        }
      }
    }


  }
  
  .view_all_cars{
    padding: 10px 50px;
    text-align: center;
    margin-bottom: 10px;
    //background: #264D9A;

    a{
      display: inline-block;
      text-decoration: none;
      border: 2px solid #fff;
      border-radius: 100px;
      padding: 10px 50px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      transition: box-shadow 0.5s;

      &:hover{
        -webkit-box-shadow: 0 0 10px 1px #fff;
        -moz-box-shadow: 0 0 10px 1px #fff;
        box-shadow: 0 0 10px 1px #fff;
        transition: box-shadow 0.5s;
      }


    }
  }

  .how_it_works{
    padding: 0 50px 15px 50px;
    margin-bottom: 20px;

    @media all and (max-width:500px){
      position: relative;
    }

    .how_it_works_left_switcher, .how_it_works_right_switcher{
      position: absolute;
      width: 50px;
      height: 60px;
      top: calc(50% - 30px);
      display: none;

      @media all and (max-width:500px){
        display: block;
      }

      &:hover{
        cursor: pointer;
      }
    }
    .how_it_works_left_switcher{
      //background:url("../images/hiw_left_night.png") center center no-repeat, rgba(255, 255, 255, 0.1);
      left: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .how_it_works_right_switcher{
      //background:url("../images/hiw_right_night.png") center center no-repeat, rgba(255, 255, 255, 0.1);
      right: 0;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    .how_it_works_down_bubbles{
      position: absolute;
      bottom: 0;
      display: none;
      justify-content: center;


      @media all and (max-width:500px){
        display: flex;
      }


      p{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        //border: 1px solid #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 5px;

        &:last-of-type{
          margin-right: 0;
        }

        &.active_how_it_works_section{
          //background: #fff;
        }
      }
    }

    h2{
      font-size: 24px;
      //color: #264D9A;
      margin-bottom: 10px;
      text-align: center;

      span{
        font-size: 28px;
        font-weight: bold;
      }
    }

    .how_it_works_sections{
      display: flex;
      justify-content: space-between;

      @media all and (max-width:920px){
        flex-wrap: wrap;
      }

      @media all and (max-width:500px){
        flex-wrap: nowrap;
        overflow-x: hidden;

      }



      .separator{
        min-width: 32px;
        min-height: 32px;
        //background: url("../images/right-chevron.png") center center no-repeat;
        align-self: center;

        @media all and (max-width:920px){
          &:nth-of-type(even){
            display: none;
          }
        }
        @media all and (max-width:500px){
          display: none;
        }
      }
      
      section{
        text-align: center;

        @media all and (max-width:920px){
          width: 45%;
        }

        @media all and (max-width:500px){
          min-width: 100%;
        }

        .register_section_img,
        .buy_or_bid_section_img,
        .submit_bid_section_img,
        .win_section_img{
          display: inline-block;
          padding: 50px;
          border-radius: 50%;
          //background: #264D9A;
          margin-bottom: 20px;

          @media all and (max-width:500px){
          }
        }

        h3{
          font-size: 20px;
          font-weight: bold;
          //color: #264D9A;
          margin-bottom: 10px;
        }

        p{
          padding: 0 10px;
          //color: #264D9A;
        }
      }

      .register_section{
        @media all and (max-width:920px){
          margin-bottom: 50px;
        }
      }
    }
  }

  .newsletter{
    width: 100%;
    height: 98px;
    background: url("../images/logos.png") center center no-repeat;


    .subscribe_block{
      width: 100%;
      height: 100%;
      //background: rgba(38, 77, 154, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;

      @media all and (max-width:540px){
        flex-direction: column;
      }

      p{
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;

        @media all and (max-width:600px){
          font-size: 20px;
        }

      }

      form{
        input[type="email"]{
          padding: 5px 10px;
          border-radius: 10px;
          margin-right: 20px;
          margin-left: 20px;

          @media all and (max-width:600px){
            margin-right: 10px;
            margin-left: 10px;
          }
          @media all and (max-width:540px){
            margin-left: 0;
          }
        }
        input[type="submit"]{
          padding: 5px 10px;
          border-radius: 10px;
          background: #fff;
          //color: #264D9A;
          text-transform: capitalize;
          font-weight: bold;
          border: 2px solid rgba(0,0,0,0);
          transition: background 0.5s, color 0.5s, border 0.5s;

          &:hover{
            //background: #264D9A;
            color: #fff;
            border: 2px solid #fff;
            cursor: pointer;
            transition: background 0.5s, color 0.5s, border 0.5s;
          }
        }
      }

    }
  }




}