header{
  width: 100%;

  .header_upper_block{
    -webkit-box-shadow: 0 5px 15px 0 rgba(38,77,154,0.5);
    -moz-box-shadow: 0 5px 15px 0 rgba(38,77,154,0.5);
    box-shadow: 0 5px 15px 0 rgba(38,77,154,0.5);
    background: #264D9A;
    padding: 5px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width:990px){
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media all and (max-width:420px){
      padding-left: 10px;
      padding-right: 10px;
    }

    //&>div{
    //  min-width: 33.3%;
    //
    //  @media all and (max-width:990px){
    //    max-width: 100%;
    //  }
    //}


    .header_phone{
      min-height: 24px;
      background: url("../images/telephone.png") left center no-repeat;
      padding-left: 34px;

      @media all and (max-width:990px){
        order: 3;
      }

      p{
        color: #fff;

        span{
          padding-left: 5px;
          font-size: 22px;
          font-weight: bold;

          @media all and (max-width:420px){
            font-size: 18px;
          }
        }
      }
    }

    .day_night_switcher{

      @media all and (max-width:990px){
        order: 1;
        margin-bottom: 10px;
      }

      .switcher_wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .switcher{
          min-width: 42px;
          height:21px;
          border-radius: 21px;
          //background: #F7EA02;
          border: 2px solid #fff;
          margin: 0 10px;
          -webkit-box-shadow: 0px 0px 4px 2px rgba(255,255,255,0.5);
          -moz-box-shadow: 0px 0px 4px 2px rgba(255,255,255,0.5);
          box-shadow: 0px 0px 4px 2px rgba(255,255,255,0.5);

          &:hover{
            cursor: pointer;
          }

          .flag{
            width: 21px;
            height: 21px;
            border: 2px solid #264D9A;
            box-sizing: border-box;
            border-radius: 50%;
            background: #fff;

          }
        }

        .day_img, .night_img{
          align-self: center;
          height: 24px;
        }

      }

    }

    .sign_up_register_buttons_and_forms{
      //text-align: right;


      @media all and (max-width:990px){
        order: 2;
        text-align: center;
        margin-bottom: 10px;
      }

      input[type="button"]{
        display: inline-block;
        padding: 5px 20px;
        border: 3px solid #fff;
        border-radius: 10px;
        background: #fff;
        color: #264D9A;
        font-weight: bold;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: background 0.5s, color 0.5s;

        &:last-of-type{
          margin-left: 5px;
        }

        &:hover{
          cursor: pointer;
          background: none;
          color: #fff;


        }
      }

      #account_btn, #log_out_btn{
        display: none;
      }

      .sign_up_form{

        form{
          label{
            text-align: center;
          }
          p{
            text-align: center;
            margin-bottom: 10px;

            input{
              display: block;
              margin: 0 auto;
            }

          }

          .forgot_pswd{
            width: 100%;
            text-align: center;

            a{
              font-size: 14px;
              color: #264D9A;
              text-decoration: none;
              
              &:hover{
                text-decoration: underline;
              }
            }
          }
          input[type = "submit"]{
            display: block;
            margin: 10px auto 0 auto;
          }
        }
      }



      .register_form_wrapper, .sign_up_form_wrapper{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.5);
        z-index: 99999;
        display: none;


        .register_form, .sign_up_form{
          background: #fff;
          border-radius: 15px;
          -webkit-box-shadow: 0 0 10px 4px #264D9A, 0 0 20px 10px #fff;
          -moz-box-shadow: 0 0 10px 4px #264D9A, 0 0 20px 10px #fff;
          box-shadow: 0 0 10px 4px #264D9A, 0 0 20px 10px #fff;
          position: relative;
          max-width: 40%;

          @media all and (max-width:780px){
            max-width: 50%;
          }
          @media all and (max-width:650px){
            max-width: 60%;
          }
          @media all and (max-width:550px){
            max-width: 70%;
          }
          @media all and (max-width:500px){
            max-width: 80%;
          }
          @media all and (max-width:450px){
            max-width: 90%;
          }

          .close_img, .close_sign_up_form_img{
            position: absolute;
            right:-15px;
            top: -15px;
            width: 32px;
            height: 32px;
            background: url("../images/close.png");

            &:hover{
              cursor: pointer;
            }

          }

          h2{
            text-align: center;
            padding: 10px 0;
            background: #264D9A;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
          }

          .registered_msg{
            padding: 5px 0;
            margin: 20px 20px 0;
            border: 2px solid #0f0;
            text-align: center;
            border-radius: 5px;
            color: #264D9A;
            display: none;
          }

          .invalid_msg{
            padding: 5px 0;
            margin: 20px 20px 0;
            border: 2px solid #f00;
            text-align: center;
            border-radius: 5px;
            color: #264D9A;
            display: none;
          }

          form{
            padding: 20px;

            @media all and (max-width:350px){
              padding: 5px 10px;
            }

            label{
              display: block;
              color: #264D9A;
              margin-bottom: 5px;
              @media all and (max-width:350px){
                margin-bottom: 2px;
              }
            }

            input{
              border:2px solid #264D9A;
              border-radius: 10px;
              padding: 5px;

              &:focus{
                -webkit-box-shadow: 0 0 5px 2px #264D9A;
                -moz-box-shadow: 0 0 5px 2px #264D9A;;
                box-shadow: 0 0 5px 2px #264D9A;;
              }
            }

            &>p{
              text-align: left;
              color: #264D9A;
              margin-bottom: 10px;

              span{
                font-size: 24px;
              }
            }

            .user_full_name, .user_email_and_phone, .password{
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;




              .user_name, .user_surname, .user_email, .user_phone, .user_password, .user_repeat_password{
                text-align: left;
                width: 45%;

                @media all and (max-width:450px){
                  width: 48%;
                }

                @media all and (max-width:350px){
                  width: 49%;
                }

                input{
                  width: 100%;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                }
              }

            }

            input[type="submit"]{
              padding: 10px 20px;
              background: #264D9A;
              color: #fff;
              font-weight: bold;
              border: 2px solid rgba(0,0,0,0);
              transition: background 0.5s, color 0.5s, border 0.5s, box-shadow 0.5s;

              &:hover{
                cursor: pointer;
                background: #fff;
                color: #264D9A;
                border: 2px solid #264D9A;
                -webkit-box-shadow: 0 0 3px 1px #264D9A;
                -moz-box-shadow: 0 0 3px 1px #264D9A;
                box-shadow: 0 0 3px 1px #264D9A;
                transition: background 0.5s, color 0.5s, border 0.5s, box-shadow 0.5s;
              }
            }

          }
        }

      }



    }
  }

  .header_logo_menu_search_block{
    display: flex;
    padding: 10px 50px;
    -webkit-box-shadow:inset 0px -5px 15px 0px rgba(38,77,154,0.5);
    -moz-box-shadow:inset 0px -5px 15px 0px rgba(38,77,154,0.5);
    box-shadow:inset 0px -5px 15px 0px rgba(38,77,154,0.5);

    @media all and (max-width: 820px){
      flex-direction: column;
    }
    @media all and (max-width: 470px){
      padding: 10px 25px;
    }
    @media all and (max-width: 420px){
      padding: 10px;
    }


    .logo_block{
      position: relative;
      @media all and (max-width: 820px){
        align-self: center;
      }

      .leftArrLight{
        display: none;
        position: absolute;
        top: 100px;
        left: 25px;
        width: 5px;
        height: 10px;
        background: #ff6c00;
        transform: rotate(-45deg);
        filter: blur(3px);
      }

      .leftBigLight{
        display: none;
        position: absolute;
        top: 95px;
        left: 33px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 5px solid white;
        filter: blur(3px);
      }

      .leftSmallLight{
        display: none;
        position: absolute;
        top: 101.5px;
        left: 56px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 3px solid white;
        filter: blur(1.8px) opacity(0.9);
      }

      .rightSmallLight{
        display: none;
        position: absolute;
        top: 101.5px;
        right: 56px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 3px solid white;
        filter: blur(1.8px) opacity(0.9);
        z-index: 1;
      }

      .rightBigLight{
        display: none;
        position: absolute;
        top: 95px;
        right: 34px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 5px solid white;
        filter: blur(3px);
        z-index: 999;
      }

      .rightArrLight{
        display: none;
        position: absolute;
        top: 100px;
        right: 25px;
        width: 5px;
        height: 10px;
        background: #ff6c00;
        transform: rotate(45deg);
        filter: blur(3px);
        z-index: 1;
      }
    }

    .menu_and_search_block{
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;

      @media all and (max-width: 1170px){
        justify-content: space-around;
      }

      .search_block{
        text-align: center;
        @media all and (max-width: 1100px){
          margin: 0 50px;
        }
        @media all and (max-width: 910px){
          margin: 0 25px;
        }
        @media all and (max-width: 860px){
          margin: 0 0 0 30px;
        }
        @media all and (max-width: 840px){
          margin: 0 0 0 10px;
        }
        @media all and (max-width: 820px){
          margin: 0 0 10px 0;
        }


        form input[type="text"]{
          width: 40%;
          border: 2px solid #264D9A;
          padding: 10px;
          border-radius: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          @media all and (max-width: 1100px){
              width: 69%;
          }
          @media all and (max-width: 925px){
            width: 67%;
          }
          @media all and (max-width: 820px){
            width: 69%;
          }
          @media all and (max-width: 525px){
            width: 68%;
          }
        }
        form input[type="submit"]{
          width: 10%;
          padding: 10px;
          border: 2px solid #264D9A;
          background: #264D9A;
          color: #fff;
          font-weight: bold;
          border-radius: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          @media all and (max-width: 1100px){
            width: 30%;
          }

          &:hover{
            cursor: pointer;
          }
        }
      }
      .vehicles_on_sale{
        background: #264D9A;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        margin: 0 50px;

        @media all and (max-width: 910px){
          margin: 0 25px;
        }
        @media all and (max-width: 860px){
          margin: 0 0 0 30px;
        }
        @media all and (max-width: 840px){
          margin: 0 0 0 10px;
        }
        @media all and (max-width: 820px){
          margin: 0;
        }
        @media all and (max-width: 525px){
          padding: 10px 5px;
        }
        @media all and (max-width: 450px){
          padding: 10px 0;
        }


        p{
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 2px;

          @media all and (max-width: 1025px){
            font-size: 20px;
          }
          @media all and (max-width: 985px){
            letter-spacing: 1px;
          }
          @media all and (max-width: 945px){
            font-size: 18px;
          }
          @media all and (max-width: 525px){
            font-size: 16px;
          }
          @media all and (max-width: 450px){
            font-size: 14px;
          }


          span span{
            font-size: 26px;
            font-weight: bold;
            display: inline-block;
            padding: 5px;
            background: #fff;
            color: #264D9A;
            border-radius: 5px;
            margin-right: 3px;

            @media all and (max-width: 1025px){
              font-size: 22px;
            }
            @media all and (max-width: 945px){
              font-size: 20px;
            }
            @media all and (max-width: 525px){
              font-size: 18px;
            }
            @media all and (max-width: 450px){
              font-size: 16px;
            }
          }
        }

      }
      .main_menu{
        z-index: 999;
        ul{
          display: flex;
          justify-content: center;
          list-style: none;


          li{
            text-align: center;
            border-right: 2px solid #264D9A;
            position: relative;

            &:last-of-type{
              border-right: none;
            }

            a{
              display: block;
              padding: 5px 30px;
              color: #264D9A;
              font-weight: bold;
              font-size: 18px;
              text-decoration: none;
              text-transform: uppercase;
              letter-spacing: 1.5px;
              transition: box-shadow 0.5s;

              @media all and (max-width:1245px){
                font-size: 16px;
                letter-spacing: 1px;
              }

              &:hover{
                //border-bottom: 4px solid #264D9A;
                -webkit-box-shadow: inset 0px 10px 10px -5px rgba(38,77,154,0.5);
                -moz-box-shadow: inset 0px 10px 10px -5px rgba(38,77,154,0.5);
                box-shadow: inset 0px 10px 10px -5px rgba(38,77,154,0.5);
                transition: box-shadow 0.5s;
              }

            }

            ul{
              display: none;
              position: absolute;
              flex-direction: column;
              min-width: 100%;
              background: #fff;
              -webkit-box-shadow: 5px 5px 10px 2px rgba(38,77,154,0.5);
              -moz-box-shadow: 5px 5px 10px 2px rgba(38,77,154,0.5);
              box-shadow: 5px 5px 10px 2px rgba(38,77,154,0.5);
              li{
                border-right: none;

                a{
                  color: #264D9A;
                  text-transform: capitalize;
                  transition: box-shadow 0.5s;
                  &:hover{
                    -webkit-box-shadow:
                            inset 0px 10px 10px -5px rgba(38,77,154,0.5),
                            inset 0px -10px 10px -5px rgba(38,77,154,0.5);
                    -moz-box-shadow:
                            inset 0px 10px 10px -5px rgba(38,77,154,0.5),
                            inset 0px -10px 10px -5px rgba(38,77,154,0.5);
                    box-shadow:
                            inset 0px 10px 10px -5px rgba(38,77,154,0.5),
                            inset 0px -10px 10px -5px rgba(38,77,154,0.5);
                    //background-color: #fff;
                    transition: box-shadow 0.5s;
                  }

                }
                ul{
                  position: absolute;
                  left: -100%;
                  top: 0;
                }
              }
            }

          }
        }
      }
    }
  }

  .main_menu_toggler{
    display: none;
    padding: 5px 50px;
    //margin-bottom: 10px;
    justify-content: space-between;
    background: #264D9A;
    -webkit-box-shadow: 0 0 4px 1px #264D9A;
    -moz-box-shadow: 0 0 4px 1px #264D9A;
    box-shadow: 0 0 4px 1px #264D9A;

    @media all and (max-width: 480px){
      display: flex;
    }

    p{
      color: #fff;
      font-weight: bold;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  .main_menu2{
    padding: 0 50px;
    background: #264D9A;

    @media all and (max-width: 900px){
      padding: 0;
    }

    @media all and (max-width: 480px){
      display: none;
    }

    .main_menu{

      ul{
        display: flex;
        justify-content: center;
        list-style: none;

        @media all and (max-width: 900px){
          flex-direction: column;
        }


        li{
          text-align: center;
          border-right: 2px solid #fff;
          position: relative;

          @media all and (max-width: 900px){
            border-right: none;
            border-bottom: 1px solid #fff;
            &:last-of-type{
              border-bottom: none;
            }
          }

          &>ul{

            z-index: 999999;
          }

          &:last-of-type{
            border-right: none;
          }

          a{
            display: block;
            padding: 5px 30px;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            transition: box-shadow 0.5s;

            @media all and (max-width: 950px){
              padding: 5px 25px;
            }


            &:hover{
              -webkit-box-shadow: inset 0px 10px 10px -5px rgba(255,255,255,0.5);
              -moz-box-shadow: inset 0px 10px 10px -5px rgba(255,255,255,0.5);
              box-shadow: inset 0px 10px 10px -5px rgba(255,255,255,0.5);
              transition: box-shadow 0.5s;
            }

          }

          ul{
            display: none;
            position: absolute;
            flex-direction: column;
            min-width: 100%;
            background: #fff;
            -webkit-box-shadow: 5px 5px 10px 2px rgba(38,77,154,0.5);
            -moz-box-shadow: 5px 5px 10px 2px rgba(38,77,154,0.5);
            box-shadow: 5px 5px 10px 2px rgba(38,77,154,0.5);

            @media all and (max-width: 900px){
              box-shadow: none;
            }



            li{
              border-right: none;
              border-bottom: 1px solid #264D9A;

              @media all and (max-width: 900px){
                box-shadow: none;
                border-left: 23px solid #264D9A;
                border-right: 23px solid #264D9A;

                &:last-of-type{
                  border-right: 23px solid #264D9A;
                  border-bottom: 23px solid #264D9A;
                  -webkit-box-shadow: 0 4px 4px 1px #fff;
                  -moz-box-shadow: 0 4px 4px 1px #fff;
                  box-shadow: 0 4px 4px 1px #fff;
                }
              }


              a{
                color: #264D9A;
                text-transform: capitalize;
                transition: box-shadow 0.5s;
                &:hover{
                  -webkit-box-shadow:
                          inset 0px 10px 10px -5px rgba(38,77,154,0.5),
                          inset 0px -10px 10px -5px rgba(38,77,154,0.5);
                  -moz-box-shadow:
                          inset 0px 10px 10px -5px rgba(38,77,154,0.5),
                          inset 0px -10px 10px -5px rgba(38,77,154,0.5);
                  box-shadow:
                          inset 0px 10px 10px -5px rgba(38,77,154,0.5),
                          inset 0px -10px 10px -5px rgba(38,77,154,0.5);
                  //background-color: #fff;
                  transition: box-shadow 0.5s;
                }

              }
              ul{
                position: absolute;
                left: -100%;
                top: 0;

                @media all and (max-width: 900px){
                  left: 0;
                  top: 100%;

                }
              }
            }
          }

        }
      }
    }
  }

  .header_slider{
    display: flex;
    height: 500px;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    &>div{
      width: 100%;
      max-height: 500px;
      position: relative;

      .slide_info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        h2{
          text-align: center;
          font-size: 80px;
          color: #264D9A;
          text-transform: uppercase;
        }
      }
    }

    .slide_left{
      position: absolute;
      width: 150px;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../images/slide-left.png") center center no-repeat;
      &:hover{
        background:
                url("../images/slide-left.png") center center no-repeat,
                rgba(255, 255, 255, 0.1);
        cursor: pointer;
        transition: background 0.5s;
      }

    }

    .slide_right{
      position: absolute;
      width: 150px;
      height: 100%;
      top: 0;
      right: 0;
      background: url("../images/slide-right.png") center center no-repeat;
      &:hover{
        background:
                url("../images/slide-right.png") center center no-repeat,
                rgba(255, 255, 255, 0.1);
        cursor: pointer;
        transition: background 0.5s;
      }
    }

    .slider_bubbles{
      position: absolute;
      top:90%;
      text-align: center;
      height: 20px;

      span{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 10px;
        display: inline-block;

        &:first-of-type{
          background: #264D9A;
        }
      }

    }


  }
}