.add_lot_wrapper_day{

  .user_info{

    background: #264D9A;
    box-shadow: none;
  }

  .add_lot_lotList{
    h3{
      background: #264D9A;
      color: #fff;
    }

    .add_lot_lotList_items{
      border: 2px solid #264D9A;

      .add_lot_lotList_item{
        border-bottom: 1px solid #264D9A;

        .add_lot_lotList_item_details{

          @media all and (max-width: 540px) {
            h3{
              -webkit-box-shadow: 0 4px 4px -2px #264D9A;
              -moz-box-shadow: 0 4px 4px -2x #264D9A;
              box-shadow: 0 4px 4px -2px #264D9A;
            }
          }



          .add_lot_lotList_item_details_inner_wrapper{

            @media all and (max-width:800px){
              border: 2px solid #264D9A;
            }

            @media all and (max-width:540px){
              border: none;
            }



            .add_lot_lotList_item_details_info{
              border-bottom: 2px solid #264D9A;
              border-right: 2px solid #264D9A;

              @media all and (max-width:800px){
                border-bottom: none;
                border-right: none;
              }

              .add_lot_lotList_item_detailed_info{

                .add_lot_lotList_item_detailed_info_column_1,
                .add_lot_lotList_item_detailed_info_column_2,
                .add_lot_lotList_item_detailed_info_column_3{

                  &>div{
                    &>p:last-of-type{
                      color: #264D9A;

                      @media all and (max-width:800px){
                        color: #fff;
                      }
                    }
                  }
                }

                .add_lot_lotList_item_detailed_info_column_1{
                  &>div{
                    &>p.mileage{
                      background: url("../images/mileage.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/mileage_night.png") center center no-repeat;
                      }
                    }
                    &>p.car_type{
                      background: url("../images/car_type.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/car_type_night.png") center center no-repeat;
                      }
                    }
                    &>p.cylinders{
                      background: url("../images/celinders.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/celinders_night.png") center center no-repeat;
                      }
                    }
                    &>p.vin{
                      background: url("../images/vin.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/vin_night.png") center center no-repeat;
                      }
                    }
                  }
                }

                .add_lot_lotList_item_detailed_info_column_2{
                  &>div{
                    &>p.damage{
                      background: url("../images/damage.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/damage_night.png") center center no-repeat;
                      }
                    }
                    &>p.fuel{
                      background: url("../images/fuel.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/fuel_night.png") center center no-repeat;
                      }
                    }
                    &>p.drive{
                      background: url("../images/drive.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/drive_night.png") center center no-repeat;
                      }
                    }
                    &>p.color{
                      background: url("../images/rgb.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/rgb.png") center center no-repeat;
                      }
                    }
                  }
                }

                .add_lot_lotList_item_detailed_info_column_3{
                  &>div{
                    &>p.location{
                      background: url("../images/location.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/location_night.png") center center no-repeat;
                      }
                    }
                    &>p.gearbox{
                      background: url("../images/gearbox.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/gearbox_night.png") center center no-repeat;
                      }
                    }
                    &>p.engine{
                      background: url("../images/engine.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/engine_night.png") center center no-repeat;
                      }
                    }
                    &>p.engine_power{
                      background: url("../images/engine_power.png") center center no-repeat;
                      @media all and (max-width:800px){
                        background: url("../images/engine_power_night.png") center center no-repeat;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .add_lot_lotList_item_bid_and_sale_date_info{

          &>div{
            p{
              color: #264D9A;
            }
          }
        }

        .add_lot_lotList_item_edit_delete{

          p{
            a{
              background: #264D9A;
              color: #fff;

              &:hover{
                border: 2px solid #264D9A;
                background: #fff;
                color: #264D9A;
                -webkit-box-shadow: 0 0 2px 0.5px #264D9A;
                -moz-box-shadow: 0 0 2px 0.5px #264D9A;
                box-shadow: 0 0 2px 0.5px #264D9A;
              }
            }
          }

        }
      }
    }
  }
  .add_lot_new_lot{

    p{
      a{
        background: #264D9A;
        color: #fff;

        &:hover{
          border: 2px solid #264D9A;
          background: #fff;
          color: #264D9A;
        }
      }
    }

    .new_lot{
      .new_lot_demo{

        h3{

        }

        .new_lot_demo_inner_wrapper{

          .new_lot_demo_info{
            border-bottom: 2px solid #264D9A;
            border-right: 2px solid #264D9A;

            .new_lot_demo_detailed_info{

              .new_lot_demo_detailed_info_column_1,
              .new_lot_demo_detailed_info_column_2,
              .new_lot_demo_detailed_info_column_3{

                div{
                  p{
                    color: #264D9A;
                  }
                }
              }
              .new_lot_demo_detailed_info_column_1{
                &>div{
                  &>p.mileage{
                    background: url("../images/mileage.png") center center no-repeat;
                  }
                  &>p.car_type{
                    background: url("../images/car_type.png") center center no-repeat;
                  }
                  &>p.cylinders{
                    background: url("../images/celinders.png") center center no-repeat;
                  }
                  &>p.vin{
                    background: url("../images/vin.png") center center no-repeat;
                  }
                }
              }

              .new_lot_demo_detailed_info_column_2{
                &>div{
                  &>p.damage{
                    background: url("../images/damage.png") center center no-repeat;
                  }
                  &>p.fuel{
                    background: url("../images/fuel.png") center center no-repeat;
                  }
                  &>p.drive{
                    background: url("../images/drive.png") center center no-repeat;
                  }
                  &>p.color{
                    background: url("../images/rgb.png") center center no-repeat;
                  }
                }
              }

              .new_lot_demo_detailed_info_column_3{
                &>div{
                  &>p.location{
                    background: url("../images/location.png") center center no-repeat;
                  }
                  &>p.gearbox{
                    background: url("../images/gearbox.png") center center no-repeat;
                  }
                  &>p.engine{
                    background: url("../images/engine.png") center center no-repeat;
                  }
                  &>p.engine_power{
                    background: url("../images/engine_power.png") center center no-repeat;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}





.add_lot_wrapper_night{

  .user_info{
    background: #1d1d1f;
    -webkit-box-shadow: 0 0 10px 5px #fff;
    -moz-box-shadow: 0 0 10px 5px #fff;
    box-shadow: 0 0 10px 5px #fff;
  }

  .add_lot_lotList{
    h3{
      background: #1d1d1f;
      color: #fff;
      -webkit-box-shadow: 0 -2px 10px 2px #fff;
      -moz-box-shadow: 0 -2px 10px 2px #fff;
      box-shadow: 0 -2px 10px 2px #fff;
      border: 2px solid #fff;
      border-bottom: none;
    }

    .add_lot_lotList_items{
      border: 2px solid #fff;
      background: rgba(29, 29, 31, 0.5);
      -webkit-box-shadow: 0 2px 10px 2px #fff;
      -moz-box-shadow: 0 2px 10px 2px #fff;
      box-shadow: 0 2px 10px 2px #fff;
      border-top:none;

      .add_lot_lotList_item{
        border-bottom: 1px solid #fff;

        .add_lot_lotList_item_details{
          
          @media all and (max-width: 540px) {
            h3{
              -webkit-box-shadow: 0 0 4px 2px #fff;
              -moz-box-shadow: 0 0 4px 2px #fff;
              box-shadow: 0 0 4px 2px #fff;
            }
          }



          .add_lot_lotList_item_details_inner_wrapper{

            @media all and (max-width:800px){
              border: 2px solid #fff;
            }

            @media all and (max-width:540px){
              border: none;
            }

            .add_lot_lotList_item_details_show_car_info,
            .add_lot_lotList_item_details_hide_car_info{

              background-color: #1d1d1f;
              -webkit-box-shadow: 0 0 4px 2px #fff;
              -moz-box-shadow: 0 0 4px 2px #fff;
              box-shadow: 0 0 4px 2px #fff;

              p{
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
              }
            }

            .add_lot_lotList_item_details_hide_car_info{
              background: url("../images/hide_car_info_up_arr.png") calc(100% - 20px) center no-repeat, #1d1d1f;
            }


            .add_lot_lotList_item_details_info{
              border-bottom: 2px solid #fff;
              border-right: 2px solid #fff;
              border-top: 2px solid #fff;

              @media all and (max-width:800px){
                border-right: none;
                border-bottom: none;
                background: rgba(0,0,0,0.25);
              }

              @media all and (max-width:540px){
                border-top: none;
                background: rgba(29, 29, 31, 0.5);
              }




              .add_lot_lotList_item_detailed_info{

                .add_lot_lotList_item_detailed_info_column_1,
                .add_lot_lotList_item_detailed_info_column_2,
                .add_lot_lotList_item_detailed_info_column_3{

                  &>div{
                    &>p:last-of-type{
                      color: #fff;
                    }
                  }
                }

                .add_lot_lotList_item_detailed_info_column_1{
                  &>div{
                    &>p.mileage{
                      background: url("../images/mileage_night.png") center center no-repeat;
                    }
                    &>p.car_type{
                      background: url("../images/car_type_night.png") center center no-repeat;
                    }
                    &>p.cylinders{
                      background: url("../images/celinders_night.png") center center no-repeat;
                    }
                    &>p.vin{
                      background: url("../images/vin_night.png") center center no-repeat;
                    }
                  }
                }

                .add_lot_lotList_item_detailed_info_column_2{
                  &>div{
                    &>p.damage{
                      background: url("../images/damage_night.png") center center no-repeat;
                    }
                    &>p.fuel{
                      background: url("../images/fuel_night.png") center center no-repeat;
                    }
                    &>p.drive{
                      background: url("../images/drive_night.png") center center no-repeat;
                    }
                    &>p.color{
                       background: url("../images/rgb.png") center center no-repeat;
                     }
                  }
                }

                .add_lot_lotList_item_detailed_info_column_3{
                  &>div{
                    &>p.location{
                      background: url("../images/location_night.png") center center no-repeat;
                    }
                    &>p.gearbox{
                      background: url("../images/gearbox_night.png") center center no-repeat;
                    }
                    &>p.engine{
                      background: url("../images/engine_night.png") center center no-repeat;
                    }
                    &>p.engine_power{
                      background: url("../images/engine_power_night.png") center center no-repeat;
                    }
                  }
                }
              }
            }
          }
        }

        .add_lot_lotList_item_bid_and_sale_date_info{

          &>div{
            p{
              color: #fff;
            }
          }
        }

        .add_lot_lotList_item_edit_delete{

          p{
            a{
              background: #fff;
              color: #1d1d1f;

              &:hover{
                border: 2px solid #fff;
                background: #1d1d1f;
                color: #fff;
                -webkit-box-shadow: 0 0 2px 0.5px #fff;
                -moz-box-shadow: 0 0 2px 0.5px #fff;
                box-shadow: 0 0 2px 0.5px #fff;
              }
            }
          }

        }
      }
    }
  }

  .add_lot_new_lot{

    p{
      a{
        background: #fff;
        color: #1d1d1f;

        &:hover{
          border: 2px solid #fff;
          background: #1d1d1f;
          color: #fff;
        }
      }
    }

    .new_lot{


      .new_lot_demo{

        h3{
          background: #1d1d1f;
          border: 2px solid #fff;
          border-bottom: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;

          @media all and (max-width: 1200px){
            border-bottom: 2px solid #fff;
          }

        }

        .new_lot_demo_inner_wrapper{

          .new_lot_demo_info{
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;

            @media all and (max-width: 1200px){
              border-left: 2px solid #fff;
            }


            .new_lot_demo_detailed_info{
              background: rgba(29, 29, 31, 0.5);
              border-bottom-right-radius: 18px;



              .new_lot_demo_detailed_info_column_1,
              .new_lot_demo_detailed_info_column_2,
              .new_lot_demo_detailed_info_column_3{

                div{

                  &>p:last-of-type{
                    color: #fff;
                  }
                }
              }
              .new_lot_demo_detailed_info_column_1{
                &>div{
                  &>p.mileage{
                    background: url("../images/mileage_night.png") center center no-repeat;
                  }
                  &>p.car_type{
                    background: url("../images/car_type_night.png") center center no-repeat;
                  }
                  &>p.cylinders{
                    background: url("../images/celinders_night.png") center center no-repeat;
                  }
                  &>p.vin{
                    background: url("../images/vin_night.png") center center no-repeat;
                  }
                }
              }

              .new_lot_demo_detailed_info_column_2{
                &>div{
                  &>p.damage{
                    background: url("../images/damage_night.png") center center no-repeat;
                  }
                  &>p.fuel{
                    background: url("../images/fuel_night.png") center center no-repeat;
                  }
                  &>p.drive{
                    background: url("../images/drive_night.png") center center no-repeat;
                  }
                  &>p.color{
                    background: url("../images/rgb.png") center center no-repeat;
                  }
                }
              }

              .new_lot_demo_detailed_info_column_3{
                &>div{
                  &>p.location{
                    background: url("../images/location_night.png") center center no-repeat;
                  }
                  &>p.gearbox{
                    background: url("../images/gearbox_night.png") center center no-repeat;
                  }
                  &>p.engine{
                    background: url("../images/engine_night.png") center center no-repeat;
                  }
                  &>p.engine_power{
                    background: url("../images/engine_power_night.png") center center no-repeat;
                  }
                }
              }
            }
          }
        }

        .new_lot_bid_and_sale_date_info{

          p{
            background: #1d1d1f;
            -webkit-box-shadow: 0 0 10px 2px #fff;
            -moz-box-shadow: 0 0 10px 2px #fff;
            box-shadow: 0 0 10px 2px #fff;

            span{
              color: #1d1d1f;

            }
          }
        }
      }

      h3{
        border: 2px solid #fff;
        border-bottom: none;
        background: #1d1d1f;
        -webkit-box-shadow: 0 -2px 10px 2px #fff;
        -moz-box-shadow: 0 -2px 10px 2px #fff;
        box-shadow: 0 -2px 10px 2px #fff;
      }

      #new_lot_form{
        border: 2px solid #fff;
        border-top: none;
        -webkit-box-shadow: 0 2px 10px 2px #fff;
        -moz-box-shadow: 0 2px 10px 2px #fff;
        box-shadow: 0 2px 10px 2px #fff;
        background: rgba(29, 29, 31, 0.5);
        
        &>div{
          p{
            color: #fff;

            input{
              color: #1d1d1f;

              &[type="file"]{
                color: #fff;
              }
            }
          }
        }

        .new_lot_form_photos{
          border: 1px solid #fff;
        }

        input, select{
          border: 2px solid #1d1d1f;
          -webkit-box-shadow: 0 0 2px 0.5px #fff;
          -moz-box-shadow: 0 0 2px 0.5px #fff;
          box-shadow: 0 0 2px 0.5px #fff;

          &:focus{
            -webkit-box-shadow: 0 0 4px 0.5px #fff;
            -moz-box-shadow: 0 0 4px 0.5px #fff;
            box-shadow: 0 0 4px 0.5px #fff;
          }

          &[type="file"]{
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }

          &[type="submit"]{
            background: #fff;
            color: #1d1d1f;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            

            &:hover{

              border: 2px solid #fff;
              background: #1d1d1f;
              color: #fff;
            }


          }
        }
      }
    }
  }


}