.single_car_wrapper_day{
  h2{
    background: #264D9A;
  }

  .single_car_inner_wrapper{

    .single_car_lot_info_and_features_wrapper,
    .single_car_bid_and_sale_info_wrapper{

      &>div{
        border: 2px solid #264D9A;

        h3{
          background: #264D9A;
          color: #fff;
        }

        &>div{
          border-bottom: 1px solid #264D9A;

          p{
            color: #264D9A;
          }
        }
      }
    }

    .single_car_bid_and_sale_info_wrapper{

      .single_car_bid_info{

        .single_car_your_bid{

          p>input{
            border: 2px solid #264D9A;
          }
        }

        &>p{
          color: #264D9A;
        }

        .single_car_place_a_bid{

          input[type="button"]{
            background: #264D9A;
            color: #fff;

            &:hover{
              border: 2px solid #264D9A;
              background: #fff;
              color: #264D9A;
              -webkit-box-shadow: 0 0 2px 0.5px #264D9A;
              -moz-box-shadow: 0 0 2px 0.5px #264D9A;
              box-shadow: 0 0 2px 0.5px #264D9A;
            }
          }
        }

      }

      .single_car_sale_info{

        &>div p:first-of-type{

          @media all and (max-width: 360px){

            background: #264D9A;
            color: #fff;

          }
        }
      }

      .single_car_buy_now{

        .single_car_buy_now_btn{

          input[type="button"]{

            background: #264D9A;
            color: #fff;

            &:hover{
              border: 2px solid #264D9A;
              background: #fff;
              color: #264D9A;
              -webkit-box-shadow: 0 0 2px 0.5px #264D9A;
              -moz-box-shadow: 0 0 2px 0.5px #264D9A;
              box-shadow: 0 0 2px 0.5px #264D9A;


            }
          }
        }
      }

    }
  }

  .view_similar_vehicles_wrapper{
    background: #264D9A;
  }
}





.single_car_wrapper_night{
  h2{
    background: rgba(29, 29, 31, 0.75);
    -webkit-box-shadow: 0 0 4px 1px #fff;
    -moz-box-shadow: 0 0 4px 1px #fff;
    box-shadow: 0 0 4px 1px #fff;
  }

  .single_car_inner_wrapper{

    .single_car_lot_info_and_features_wrapper,
    .single_car_bid_and_sale_info_wrapper{



      &>div{
        -webkit-box-shadow: 0 0 6px 2px #fff;
        -moz-box-shadow: 0 0 6px 2px #fff;
        box-shadow: 0 0 6px 2px #fff;
        border: 2px solid #fff;
        background: rgba(29, 29, 31, 0.7);


        h3{
          background: #fff;
          color: #1d1d1f;
        }

        &>div{
          border-bottom: 1px solid #fff;

          p{
            color: #fff;
          }
        }
      }
    }

    .single_car_bid_and_sale_info_wrapper{

      .single_car_bid_info{

        .single_car_your_bid{

          p>input{
            border: 2px solid #1d1d1f;
            -webkit-box-shadow: 0 0 4px 1px #fff;
            -moz-box-shadow: 0 0 4px 1px #fff;
            box-shadow: 0 0 4px 1px #fff;
          }
        }

        &>p{
          color: #fff;
        }

        .single_car_place_a_bid{

          input[type="button"]{
            background: #fff;
            color: #1d1d1f;

            &:hover{
              border: 2px solid #fff;
              background: #1d1d1f;
              color: #fff;
              -webkit-box-shadow: 0 0 2px 0.5px #fff;
              -moz-box-shadow: 0 0 2px 0.5px #fff;
              box-shadow: 0 0 2px 0.5px #fff;
            }
          }
        }

      }

      .single_car_sale_info{

        &>div p:first-of-type{

          @media all and (max-width: 360px){

            background: #fff;
            color: #1d1d1f;

          }
        }
      }

      .single_car_buy_now{

        .single_car_buy_now_btn{

          input[type="button"]{

            background: #fff;
            color: #1d1d1f;

            &:hover{
              border: 2px solid #fff;
              background: #1d1d1f;
              color: #fff;
              -webkit-box-shadow: 0 0 2px 0.5px #fff;
              -moz-box-shadow: 0 0 2px 0.5px #fff;
              box-shadow: 0 0 2px 0.5px #fff;


            }
          }
        }
      }

    }
  }
}












.view_similar_vehicles_wrapper_day{
  background: #264D9A;

  .view_similar_vehicles_list_wrapper{

    @media all and (max-width:600px){
      background:none;

      .view_similar_vehicles_list_left_arr{
        background:
                url("../images/hiw_left_night_custom.png") 15px center no-repeat,
                linear-gradient(to right, rgba(38,77,154,1) 0, rgba(38,77,154,0.75) 50%, rgba(38,77,154,0.5) 75%, rgba(38,77,154,0) 100%);

        &:hover{
          background:
                  url("../images/hiw_left_night_custom.png") 15px center no-repeat,
                  linear-gradient(to right, rgba(38,77,154,1) 0, rgba(38,77,154,0.75) 75%, rgba(38,77,154,0.5) 100%);
        }
      }

      .view_similar_vehicles_list_right_arr{
        background:
                url("../images/hiw_right_night_custom.png") calc(100% - 15px) center no-repeat,
                linear-gradient(to left, rgba(38,77,154,1) 0, rgba(38,77,154,0.75) 50%, rgba(38,77,154,0.5) 75%, rgba(38,77,154,0) 100%);

        &:hover{
          background:
                  url("../images/hiw_right_night_custom.png") calc(100% - 15px) center no-repeat,
                  linear-gradient(to left, rgba(38,77,154,1) 0, rgba(38,77,154,0.75) 75%, rgba(38,77,154,0.5) 100%);

        }
      }

    }

    .view_similar_vehicles_list{
      .view_similar_vehicle_item{
        .view_similar_vehicle_item_info{
          background: #fff;

          h3{

            a{
              color: #fff;
            }
          }

          &>div{
            border-bottom: 1px dotted #264D9A;

            p{
              color: #264D9A;
            }
          }

          .view_similar_vehicle_item_btn{
            p{
              a{
                background: #264D9A;
                color: #fff;

                &:hover{
                  border: 2px solid #264D9A;
                  background: #fff;
                  color: #264D9A;
                }
              }
            }
          }
        }
      }
    }

  }






}

.view_similar_vehicles_wrapper_night{
  background: rgba(29, 29, 31, 0.75);
  -webkit-box-shadow: 0 0 4px 1px #fff;
  -moz-box-shadow: 0 0 4px 1px #fff;
  box-shadow: 0 0 4px 1px #fff;

  .view_similar_vehicles_list_wrapper{

    @media all and (max-width:600px){
      background: none;

      .view_similar_vehicles_list_left_arr{
        background:
                url("../images/hiw_left_night.png") 15px center no-repeat,
                linear-gradient(to right, rgba(29, 29, 31,1) 0, rgba(29, 29, 31,0.75) 50%, rgba(29, 29, 31,0.5) 75%, rgba(29, 29, 31,0) 100%);

        &:hover{
          background:
                  url("../images/hiw_left_night.png") 15px center no-repeat,
                  linear-gradient(to right, rgba(29, 29, 31,1) 0, rgba(29, 29, 31,0.75) 75%, rgba(29, 29, 31,0.5) 100%);
        }
      }

      .view_similar_vehicles_list_right_arr{
        background:
                url("../images/hiw_right_night.png") calc(100% - 15px) center no-repeat,
                linear-gradient(to left, rgba(29, 29, 31,1) 0, rgba(29, 29, 31,0.75) 50%, rgba(29, 29, 31,0.5) 75%, rgba(29, 29, 31,0) 100%);

        &:hover{
          background:
                  url("../images/hiw_right_night.png") calc(100% - 15px) center no-repeat,
                  linear-gradient(to left, rgba(29, 29, 31,1) 0, rgba(29, 29, 31,0.75) 75%, rgba(29, 29, 31,0.5) 100%);

        }
      }

    }

    .view_similar_vehicles_list{
      .view_similar_vehicle_item{
        .view_similar_vehicle_item_info{
          background: rgba(29, 29, 31, 0.25);

          h3{
            background: #fff;

            a{
              color: #1d1d1f;
            }
          }

          &>div{
            border-bottom: 1px dotted #fff;

            p{
              color: #fff;
            }
          }

          .view_similar_vehicle_item_btn{
            p{
              a{
                background: #fff;
                color: #1d1d1f;

                &:hover{
                  border: 2px solid #fff;
                  background: #1d1d1f;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

  }






}